@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto";
    color: #000000;
  }
    
  
  #bloc-page{
    max-width: 768px;
    margin-right:auto;
    margin-left:auto;
  }

  a {
    text-decoration: none;
      &:visited{
        color: #000000;
      }
  }
  
 
ul {
  list-style-type: none;
  padding: 0px;
}

/* Header */

.Header {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0%;

  &__logo {
    font-family: 'Shrikhand',cursive;
    font-size: 30px;
  }
}
  
/* Localisation*/

.Localisation {
  width:100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  border-top: 2px solid #7a7a7a;
  padding:10px;
  display: flex;
  
    &__recherche{
     display: flex;
      justify-content: center;
    }

    .fa-location-dot{
      margin:0px 5px 0px 5px;
    }

    input[type="search"] {
    border:none;
    background-color: #f3f3f3;
    width:75%;
    text-align: center;
    }
  
}

/* Description */

.Description {
  width:100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

    &__texte {
      width:75%;
    }

    &__button-menu {
      background: #f6f6f6;
      border-radius: 25px;
      padding:10px 15px 10px 15px;
    }
}

/* Fonctionnement */

.Fonctionnement {
  &__selection {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
     
      &--nombre{
        background-color: #9356DC;
        color: white;
        position: absolute;
        top: 15px;
        left:-9px;
        padding: 6px 9px 6px 9px;
        border-radius: 20px;
        font-size: small;
        }
        &--icone{
          padding:0 10px 0px 10px;
        }
        &--texte{
          padding:0 10px 0px 10px;
          text-align: center;
        }
    }
  }

/* Main */

.Main{
  width:100%;
  height:1400px;
}

.Restaurants {
  display: flex;
  flex-wrap: wrap;
  height:100%;

    h2 {
      width:100%;
    }

    &__Liste {
      width:100%;
      height:100%;
      }

    &__Card {
      width: 100%;
      height:290px;
      border-radius: 20px;
      box-shadow: 5px 2px 10px 2px red;
      margin: 20px 0px 20px 0px;
    }

      &__Card--image {
        border-radius: 20px 20px 0px 0px;
        border: 5px solid #ffffff;
        height:72%;
        object-fit: cover;
        position: relative;
        }

        &__Card--image img {
          width: 100%;
          height:100%;
          object-fit: cover;
          border-radius: 20px 20px 0px 0px;
        }

        &__Card--image p {
          width: 25%;
          position: absolute;
          top:8%;
          right:0%;
          background-color: green;
          text-align: center;
          padding: 8px;
          margin: 10px;

        }

        &__Card--descriptif {
          height:10%;
          display:flex;
        }

        &__Card--descriptif--texte {
          width:50%;
        } 

         &__Card--descriptif--texte,h3, p{
            margin:5px
          }

          &__Card--descriptif--heart {
            width:50%;
            display: flex;
            justify-content: flex-end;
        } 

      .fa-heart {
      color: #0065fc;
      font-size: 37px;
    }

      .plein {
      color: #f2f2f2;
      font-size: 37px;
      display: flex;
    }
}

/* Footer */
.footer{
  background-color: #444242;
  font-size: 17px;
  color: #ffffff;

    &__logo{
      font-family: 'Shrikhand',cursive;
    }

    &__menu{
      display: flex;
      align-items: center;
    }
}