@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto";
  color: #000000;
}

#bloc-page {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0px;
}

/* Header */
.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.Header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

/* Localisation*/
.Localisation {
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  border-top: 2px solid #7a7a7a;
  padding: 10px;
  display: flex;
}
.Localisation__recherche {
  display: flex;
  justify-content: center;
}
.Localisation .fa-location-dot {
  margin: 0px 5px 0px 5px;
}
.Localisation input[type=search] {
  border: none;
  background-color: #f3f3f3;
  width: 75%;
  text-align: center;
}

/* Description */
.Description {
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Description__texte {
  width: 75%;
}
.Description__button-menu {
  background: #f6f6f6;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
}

/* Fonctionnement */
.Fonctionnement__selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
}
.Fonctionnement__selection--nombre {
  background-color: #9356DC;
  color: white;
  position: absolute;
  top: 15px;
  left: -9px;
  padding: 6px 9px 6px 9px;
  border-radius: 20px;
  font-size: small;
}
.Fonctionnement__selection--icone {
  padding: 0 10px 0px 10px;
}
.Fonctionnement__selection--texte {
  padding: 0 10px 0px 10px;
  text-align: center;
}

/* Main */
.Main {
  width: 100%;
  height: 1700px;
}

.Restaurants {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.Restaurants h2 {
  width: 100%;
}
.Restaurants__Liste {
  width: 100%;
  height: 100%;
}
.Restaurants__Card {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 2px 10px 2px red;
}
.Restaurants__Card--image {
  border-radius: 20px 20px 0px 0px;
  border: 5px solid #ffffff;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Restaurants__Card--image img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.Restaurants__Card--descriptif {
  height: 20%;
}
.Restaurants__Card--descriptif--heart {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 25%;
}
.Restaurants .fa-heart {
  color: #0065fc;
  font-size: 12px;
}
.Restaurants .plein {
  color: #f2f2f2;
  font-size: 12px;
  display: flex;
}/*# sourceMappingURL=style.css.map */