@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

@import "./base/base.scss";
@import "./base/typography.scss";



@import "./layout/header.scss";
@import "./layout/card.scss";
@import "./layout/menu.scss";
@import "./layout/footer.scss";

@import "./pages/accueil.scss";
@import "./pages/restaurants.scss";

* {
    box-sizing: border-box;
    font-family: "Roboto";
    color: #000000;
  }
    
  
  #bloc-page{
    max-width: 768px;
    margin-right:auto;
    margin-left:auto;
  }

  a {
    text-decoration: none;
      &:visited{
        color: #000000;
      }
  }

  h2 {
    font-size: 24px;
  }
  
 
  ul {
  list-style-type: none;
  padding: 0px;
  }


/* Loader */

.loader {
  @include loader;
  }

  
/* Header */

.Header {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0%;

  &__logo {
    font-family: 'Shrikhand',cursive;
    font-size: 35px;
    font-weight: 300;
  }
}
  
/* Localisation*/

.Localisation {
  width:100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  border-top: 2px solid #7a7a7a;
  padding:20px;
  display: flex;
  
    &__recherche{
     display: flex;
      justify-content: center;
    }

    .fa-location-dot{
      margin:0px 5px 0px 5px;
    }

    input[type="search"] {
    border:none;
    background-color: #f3f3f3;
    width:75%;
    text-align: center;
    }
     ::placeholder{
      color: #000000;
      font-size: 16px;
      font-weight: 500;
     }
}

/* Description */

.Description {
  width:100%;
  margin: 0%;
  padding:37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(248, 248, 248);

    &__texte {
      width:80%;
      font-size: 18px;
      font-weight: 300;
    }

    &__button-menu {
      @include dégradé;
      color: #ffffff;
      font-size: 16px;
      border-radius: 25px;
      padding:12px 25px 12px 25px;
      transform: scale(1);                  /* répétition */
      transition: transform 400ms;
        &:hover {
          transform: scale(1.1);
        }
    }
}

/* Fonctionnement */

.Fonctionnement {
  
  padding: 25px 15px 25px 15px;
      
  @include media-min($desktop) {
      display: flex;
      align-items: center;
            flex-wrap: wrap;

      &__selection1{
        width:100%;
        display: flex;    
        justify-content: space-around;  
      }
  }

  @include sélection;

  }

/* Main */

.Main{
  width:100%;
  height:1300px;
}

.Restaurants {
  background: #f6f6f6;
  font-size: 18px;
  height:100%;
  width:100%;
  padding: 40px 15px 40px 15px;

    h2 {
      width:100%;
      height: 5%;
      margin:0%;
    }

    &__Liste {
      width:100%;
      height:95%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__Liste a {
      width:95%;
      height:265px;
      margin:15px;
    }

    &__Card {
      height:100%;
      border-radius: 20px;
      background-color:white;
      box-shadow: 5px 2px 10px 2px #f0f2f6;
      transform: scale(1);                      /* répétition */
      transition: transform 400ms;
        &:hover {
          transform: scale(1.1);
        }
    }

      &__Card--image {
        border-radius: 20px 20px 0px 0px;
        height:72%;
        position: relative;
        }

        &__Card--image img {
          width: 100%;
          height:100%;
          object-fit: cover;
          border-radius: 20px 20px 0px 0px;
        }

        &__Card--image p {
          width: 28%;
          position: absolute;
          top:8%;
          right:2%;
          color: #278870;
          background: #99e2d0;
          text-align: center;
          padding: 5px 10px 5px 10px;
          margin: 8px;
          font-size: 9px;
          font-weight: 500;
          border-radius: 4px;
        }

        &__Card--descriptif {
          height:15%;
          display:flex;

        }

        &__Card--descriptif--texte {
          width:70%;
        } 

        &__Card--descriptif--texte,h3, p{
            margin:5px;
            font-size: 19px;
        }
        
          &__Card--descriptif--texte2{
            font-weight: 300;
          }

        &__Card--descriptif--heart {
          width:30%;
          height:68px;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: center;
          @include heart;
        }    
    }

/* Footer */
.footer{
  background-color: #393939;
  padding: 20px; 


    &__logo {
      font-family: 'Shrikhand',cursive;
      font-size: 20px;
      font-weight: 270;
      color: #ffffff;
      margin: 0%;   
    }

    &__menu {
      display: flex;
      align-items: center;


        h4{
          font-size: 17px;
          color: #ffffff;
          font-weight: 300;
          margin: 0%;
          line-height:30px;        
        }

        &--icone i{
          font-size:13px;
          color: #ffffff;
          margin-right: 10px;  
        }
      }
}