.Header {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0%;
  
    &__logo {
      font-family: 'Shrikhand',cursive;
      font-size: 30px;
      font-weight: 300;
    }
  
    &__arrow {
        font-size: 1.3rem;
        position: absolute;
        left: 10%;
        top: 6%;
        @include media-min($desktop) {
            top: 5%;
        }
    }
  
    img{
      width:100%;
      height:230px;
      object-fit: cover;
  }
  
  }
