.Header {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0%;
 
    &__partie1 {
      display:flex;
      justify-content: space-around;
      align-items: center;
    }

    &__logo {
      font-family: 'Shrikhand',cursive;
      font-size: 30px;
      font-weight: 300;
    }
  
    &__arrow {
        font-size: 23px;
        position: absolute;
        left: 7%;
        top: 3%;
        @include media-min($tablet) {
          font-size: 35px;
          }
        @include media-min($desktop) {
          font-size: 40px;
          }
    }
  
    img{
      width:100%; 
      height:230px;
      object-fit: cover;
    }
  
}
