@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    color: #000000;
    font-family:"Roboto";
}

#bloc-page{
    max-width: 1440px;
    margin-right:auto;
    margin-left:auto;
  }

  a {
    text-decoration: none;
  }
  
  a:visited {
    color: #000000;
  }