* {
    box-sizing: border-box;
    font-family: "Roboto";
    color: #000000;
  }
    
  
  #bloc-page{
    max-width: 1440px;
    margin-right:auto;
    margin-left:auto;
  }

  a {
    text-decoration: none;
      &:visited{
        color: #000000;
      }
  }
  
  h2 {
    font-size: 28px;
    width:79%;
    margin:0%;
  }
 
  ul {
    list-style-type: none;
    padding: 0px;
  }