.Menu{
    background-color: $colour-light-grey;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    margin-top: -35px;
    flex-direction: column;
    padding: 12px 5px 12px 5px;
  
    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-min($desktop) {
      margin:20px;
      }
        
            
      &--titre{
        font-size: 26px;
        letter-spacing: 0.7px;
        font-family: "Shrikhand", cursive;
        font-weight: 700;
        margin:12px;

      }
  
      &--heart{
        font-size: 28px;
        margin: 0px 28px 0px 28px;
        @include heart;
        @include media-min($tablet) {
          margin: 0px 32px 0px 32px;
        }
      }
    }
    
  
    &__liste {
    @include media-min($desktop) {
      display: flex;
      height:75%;
      align-items: flex-start;
      justify-content: space-around;
      margin:20px 0px 20px 0px;
    }
  }
    
    &__card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      margin:20px 0px 20px 0px;
        @include media-min($desktop) {
          width:31%;
        }

      h3 {
        text-transform: uppercase;
        font-weight: 370;
        font-size: 15px;
        margin:3px 12px 3px 12px;
        padding:5px 0px 5px 0px;
        border-bottom: solid 3px $colour-tertiary;
        width: 35px;    
      }
  
      &--choix{
        padding: 10px;
        margin: 7px 12px 7px 12px;
        background: $colour-white;
        animation:  0.5s ease-out both, fadein 2s both;
        position: relative;
        border-radius: 15px;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 20%);
        @include media-min($desktop) {
          margin:12px;
        }
  
            &:hover {
              & h4{
                width:64%;
                text-overflow: ellipsis;
                white-space: nowrap;}
              
              & .Menu__card--choix--selection{
                opacity: 1;
                transform: translate(-3rem);
                transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
              }
              
              & .fa-circle-check {  
                transform: rotate(360deg);
                transition: transform 500ms ease-in-out;
              }
  
              & .Menu__card--choix--inline {
                width :83%;
                transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
              }
                
                p{
                  width:82%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
            }       
  
        h4 {
          font-size: 18px;
          font-weight: 500;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin: 0%;
          width:87%;
        }
  
        &--1 {
          
          animation-delay: 546ms;
        }
        &--2 {
          
          animation-delay: 900ms;
        }
        &--3 {
          
          animation-delay: 1200ms;
        }

        &--4 {
          
          animation-delay: 1500ms;
        }
  
        &--inline {
          display: flex;
          justify-content: space-between;
          align-items: center;
          line-height: 1.5em;
  
  
          p {
            font-weight: 350;
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin:0%;
            width:85%;            
          }
          span {
            font-size: 16px;
            color: darken($colour-light-grey, 70%);
            padding: 0px 6px 0px 6px;
          }
        }    
    
        &--selection {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #99E2D0;
          width: 58px;
          height: 100%;
          position: absolute;
          right: -50px;
          border-radius: 0px 15px 15px 0px;
          top: 0;
          opacity: 0;
          
  
          
          & .fa-circle-check {
            color: #fff;
            font-size: 22px;     
            }
          }
        }
    }
      
    &__button{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }
    &__button--commander {
      @include button;
      @include dégradé;
      text-align: center;  
    }
  }
  