
/* Loader */

@mixin loader {
  background: #f4ebeb;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  animation: loader 1s ease-in-out 3s forwards;

    .custom-loading-spinner {
      cursor: progress;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .custom-loading-spinner::before {
      content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10001;
        overflow: hidden;
        background: #0b0b0b;
        opacity: 0.6;
    }
    .custom-loading-spinner::after {
      box-sizing: border-box;
      z-index: 10002;
      content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        border: 3px solid $colour-secondary;
        border-top: 3px solid $colour-primary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: custom-loading 1s linear infinite;
    }
      
}

/* Fonctionnement */

@mixin sélection {
  &__selection {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    width: 94%;
    margin: 25px 15px 25px 15px;
    border-radius: 20px;
    position: relative;
    padding:9px 25px;
    box-shadow: 0 6px 8px 0 gainsboro;
    transform: scale(1);                      
    transition: transform 400ms;
      &:hover {
        transform: scale(1.1);
        background-color: rgba(194, 180, 237, 0.3);
        i {
          color: $colour-primary;              
        }      
      }
         
        &--nombre{
          background-color: $colour-primary;               
          color: #ffffff;
          position: absolute;
          top: 24px;
          left:-11px;
          padding: 5.5px 9px 5.5px 9px;
          border-radius: 50px;
          font-size: 12px;
        }
        
        &--icone{
          padding:0 10px 0px 10px;
          font-size:larger;
        }
        
        &--texte{
          padding:0 10px 0px 10px;
          font-size: 14px;
        }
        
    @include media-min($tablet) {
      width: 100%;
      &1{
        width:100%;
        display: flex;    
        justify-content: space-around;  
      }
      &--nombre{
        top: 21px;}

      &--texte{
        padding:0 4px 0px 4px;
        font-size: 12px; 
      }
    }
    
    
    @include media-min($desktop) {
      width: 29%;
      &1{
        width:100%;
        display: flex;    
        justify-content: space-around;

        &--nombre{
          top: 21px;}
  
        &--texte{
          padding:0 4px 0px 4px;
          font-size: 18px; 
        }
      }
    }
  }
}

/* Button Dégradé */

@mixin button {
  color: #ffffff;
  font-size: 16px;
  border-radius: 25px;
  padding:12px 25px 12px 25px;
  transform: scale(1);                  
  transition: transform 400ms;
  box-shadow: 0 6px 8px 0 grey;
    &:hover {
      transform: scale(1.1);
    }
 }   

@mixin dégradé {
    background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
}



/* Heart */

@mixin heart {
    .fa-heart {
        color:black;
        font-size: 25px;
        font-weight: 100;
            
        &:hover {
          animation: fill 0.9s ease-in-out;
          background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
        }
    }
}


/* Responsive*/

@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
        &{ @content; }
    }
}
@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
}
@mixin media-inter($_min-width,$_max-width) {
    @media screen and (min-width: $_min-width) and (max-width: $_max-width) {
        &{ @content; }
    }
}
    
