$colour-primary:#9356DC; 
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #ffffff;
$colour-black: #000;
$colour-light-grey: rgb(248, 248, 248);

$mobile: 320px;
$tablet: 768px;
$desktop: 992px;